@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

* {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-size: $m-size;
  line-height: 1.6;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}
